<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.health.READ_STEPS" />
  <uses-permission android:name="android.permission.health.READ_SLEEP" />
  <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
  <uses-permission android:name="android.permission.health.READ_EXERCISE" />

  <!-- Android 11+ package visibility: allow querying Health Connect and Play Services -->
  <queries>
    <package android:name="com.google.android.apps.healthdata" />
    <package android:name="com.google.android.gms" />
    <intent>
      <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
    </intent>
  </queries>

  <application>
    <receiver
      android:name=".ActivityTransitionReceiver"
      android:enabled="true"
      android:exported="false" />
    <receiver
      android:name=".ActivityUpdateReceiver"
      android:enabled="true"
      android:exported="false" />
  </application>
</manifest>
